@import 'https://fonts.googleapis.com/css?family=Oswald';

.water-fill {
animation: wave 0.7s infinite linear, 
            fill-up 10s infinite ease-out alternate;
}

#preloader{
    background: #005C97;
    background: linear-gradient(to left, #005C97 , #363795);
    padding-top: 40vh;
    text-align: center;
}

@keyframes wave {
0% { x: -400px; }
100% { x: 0; }
}


@keyframes fill-up {
0% {
    height: 0;
    y: 130px;
}
100% {
    height: 160px;
    y: -30px;
}
}